.gallery__item {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: #fff;
    margin-top: 15px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;

    .form__checkbox {
        z-index: 99;
        position: relative;
    }

    &:after {
        transition: all 0.2s ease-in;
        opacity: 0;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        content: " ";
        background-color: rgba(16,14,14,.6);
        z-index: 9;
    }

    &:hover {
        &:after {
            position: absolute;
            opacity: 0.6;
        }
    }

    .item {
        &__favourite {
            position: absolute;
            top: 15px;
            right: 15px;
            z-index: 99;
            background-color: #fff;
            border-radius: 4px;
            padding: 4px 12px;
            border: 1px solid darkgray;
            opacity: 0;
            transition: all 0.2s ease-in;

            &.is-shown {
                opacity: 1;
            }

            label {
                display: flex;
                cursor: pointer;
            }

            input {
                position: absolute;
                display: none;
            }

            img {
                width: 15px;
            }
        }
    }
}