@import "../../assets/css/placeholders";
@import "../../assets/css/variables";

.image {
    &__wrapper {
        @extend %align-items-center;
        @extend %display-flex;
        @extend %justify-content-center;

        border-radius: 4px;
        min-height: 64px;
        min-width: 64px;
        margin : 0;

        &.loaded {
            .image {
                &__item {
                    border: 0;
                    opacity: 1;
                    visibility: visible;
                }

                &__spinner {
                    display: none;
                    width: 100%;
                }
            }
        }

        &.no-loaded {
            .image {
                &__spinner {
                    @extend %display-none;
                    @extend %width-full;
                }
            }
        }
    }

    &__item {
        border-radius: 4px;
        opacity: 0;
        transition: all 0.4s ease-in-out;
        visibility: hidden;
        width: 100%;
    }
}
