@import "../../assets/css/placeholders";
@import "../../assets/css/variables";

.filters {
    @extend %display-flex;
    @extend %align-items-center;
    @extend %justify-content-flex-start;

    &__title {
        padding-right: 5px;
    }

    &__item {
        @extend %display-inline-block;
        @extend %position-relative;

        label {
            @extend %display-flex;
            @extend %align-items-center;
            @extend %cursor-pointer;

            border: $border;
            width: auto;
            padding: 5px;
            border-radius: 4px;
            transition: all 0.2s ease-in;
            background-color: $color-white;
        }

        input {
            @extend %position-absolute;
            @extend %display-none;

            &:checked + label {
                background-color: $color-light;
            }
        }

        span {
            padding-right: 5px;
            font-size: $font-size-sm;
        }

        img {
            width: 15px;
        }
    }
}